<h1>Pages#contact</h1>
<p><%= number_to_phone "5555555555"%></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3054.5267541516014!2d-111.6840877841964!3d40.04134427941051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874da4dbc8ad3b69%3A0x6ee0350d09bd7408!2s435+860+S%2C+Salem%2C+UT+84653!5e0!3m2!1sen!2sus!4v1501608973297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>